<h1>Sus prendas</h1>
<form method="post" action="{{ruta}}/prenda" >
    <button type='submit'>Agregar prenda</button>
</form>
<b>{{ resultado }}</b>
<form name="listadoPrendas" method="get">
    <ul>
        {{#each prendas}}
            <li>
                <ul>
                    <li>{{tipo}}</li>
                    <li>{{categoria}}</li>
                    <li>{{material}}</li>
                    <li>{{colorPrimario}}</li>
                    <li>{{colorSecundario}}</li>
                </ul>
            </li>
        {{/each}}
    </ul>
</form>